@import 'global' ;
body {
    text-decoration: none;
    font-family: $Font-family;
    background-color: black;
    color: $font-color;
    .barra_tareas {
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        background-color: $colorbg;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0rem .04rem;
        z-index: 2;

        .Logo_cont {
            align-self: center;
            justify-self: center;
            margin: 1rem;
        }
        .Logo_cont_der{
            align-self: center;
            justify-self: center;
            margin: 1rem;
        }
        #logo_barra {
            width: 3.5rem;
        }
        .Seleccion {
            display: grid;
            font-size: 2.5rem;
            font-weight: 700;
            list-style: none;
            align-self: center;
            text-align: center;
            padding-top: 1rem;
            a {
                text-decoration: none;
                color: $font-color;
            }
        }
        .Boton_cont {
            align-self: center;
            justify-self: center;
            a .boton {
                padding: .7rem;
                border-radius: .5rem;
                width: 6rem;
                background-color: $font-color;
                border: solid 2px black;
                font-weight: 550;
            }
        }
        .Menu_img {
            width: 25px;
            height: 25px;
        }
    }
    .Contact {
        background-image: url(Imagenes/man-2590655.jpg);
        background-size: cover;
        background-position: center center;
        text-align: left;
        margin: 5rem 1rem 0;
        height: 55.5rem;
        .Reach_us {
            margin: 7rem 0 0 7rem;
            background-color: rgba($colorbg, 0.5);
            border-radius: 2rem;
            position: relative;
            left: 100PX;
            height: 38.5rem;
            z-index: 1;
            div {
                h3 {
                    font-size: 3rem;
                    margin-left: 7rem;
                    img {
                       margin: 0 10px 10px 0;
                    }
                }
                p {
                    font-size: 2rem;
                    margin-right: 7rem;
                    margin-left: 11rem;
                }
            }
            h1 {
                font-size: 5rem;
                font-weight: 900;
            }
        }
        .Message {
            margin: 7rem 0 0;
            z-index: 2;
            aside {
                background-color: black;
                width: 45rem;
                border: black solid 60px;
                border-radius: 5rem;
                font-size: 25px;
                .cont_button {
                    justify-content: center;
                    .button {
                        padding: 10px 15px;
                        font-size: 20px;
                        font-weight: 700;
                        border-radius: 2rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .Contact {
        padding-top: 10rem !important;
        margin:0 !important;
        width: 100%;
        .Reach_us {
            margin: 0 !important;
            left: 80px !important;
        }
        .Message {
            margin: 0 !important;
            position: relative;
            right: 30px !important;
        }
    }

}

@media screen and (max-width: 1024px) {
    .Reach_us {
        width: 15rem !important;
        div {
            h3 {
                font-size: 40px !important;
                margin-left: 2.5rem !important;
                img {
                   margin: 0 5px 5px 0 !important;
                }
            }
            p {
                font-size: 20px !important;
                margin-right: 0 !important;
                margin-left: 6.5rem !important;
            }
         }
    }
    .Message {
        aside {
            width: 30rem !important;
        }
    }
}

@media screen and (max-width: 768px) {
    .Reach_us {
        left: 50px !important;
        h1 {
            font-size: 50px !important;
            margin-bottom: 3rem !important;
        }
        div {
            h3 {
                font-size: 25px !important;
                margin-left: 0 !important;
                img {
                   margin: 0 5px 5px 0 !important;
                   width: 40px !important;
                   height: 40px !important;
                }
            }
            p {
                font-size: 20px !important;
                margin-left: 2rem !important;
            }
         }
    }
    .Message {
        right: 15px !important;
        aside {
            width: 25rem !important;
        }
    }
}

@media screen and (max-width: 425px) {
    .barra_tareas {
        display: flex !important;
        justify-content: center !important;
        .Seleccion {
            display: none !important;
        }
        .Logo_cont_der {
            display: none !important;
        }
    }
    .Contact {
       width: 100% !important;
       padding-top: 5rem !important;
    }
    .Reach_us {
        position: unset !important;
        height: fit-content !important;
        padding: 20px !important;
        margin: 80px !important;
        border-radius: unset !important;
        h1 {
            font-size: 40px !important;
            margin-top: 2px !important;
            margin-bottom: 7px !important;
            text-align: center !important;
        }
    }
    .Message {
        width: 425px !important;
        aside {
            width: 460px !important;
            padding: 1rem 1rem !important;
            border-radius: unset !important;
        }
    }
}
@media screen and (max-width: 375px) {
    .Message {
        width: 425px !important;
        aside {
            width: 410px !important;
            padding: 1rem 2rem !important;
            border-radius: unset !important;
            border: 15px solid black !important;
        }
    }
}
@media screen and (max-width: 320px) {
    .Message {
        width: 425px !important;
        aside {
            width: 360px !important;
            padding: 1rem 2rem !important;
            border-radius: unset !important;
            border: 15px solid black !important;
        }
    }
}