.Read_more, .transc {
  transition-property: all;
  transition-duration: 1s; }

.Nav_trans {
  transition-property: all;
  transition-duration: 2s; }

.Seleccion_trans:hover .Nav_trans {
  text-decoration: underline;
  transition: all 500ms ease-in-out; }

.transc_cont:hover .transc {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition: all 200ms ease-in-out; }

.a_img:hover .Read_more {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition: all 300ms ease-in-out; }

#Artmov {
  transition-property: all;
  transition-duration: 3s; }

.Cont_louvre:hover .img_louvre {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: 2s; }

body {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  background-color: #191919;
  color: ghostwhite; }
  body .barra_tareas {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    background-color: #191919;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3; }
    body .barra_tareas .Logo_cont {
      align-self: center;
      justify-self: center;
      margin: 1rem; }
    body .barra_tareas .Logo_cont_der {
      align-self: center;
      justify-self: center;
      margin: 1rem; }
    body .barra_tareas #logo_barra {
      width: 3.5rem; }
    body .barra_tareas .Seleccion {
      display: grid;
      font-size: 2.5rem;
      font-weight: 700;
      list-style: none;
      align-self: center;
      text-align: center;
      padding-top: 1rem; }
      body .barra_tareas .Seleccion a {
        text-decoration: none;
        color: ghostwhite; }
    body .barra_tareas .Boton_cont {
      align-self: center;
      justify-self: center; }
      body .barra_tareas .Boton_cont a .boton {
        padding: .7rem;
        border-radius: .5rem;
        width: 6rem;
        background-color: ghostwhite;
        border: solid 2px black;
        font-weight: 550; }
    body .barra_tareas .Menu_img {
      width: 25px;
      height: 25px; }
  body .Monalisa {
    display: flex;
    margin-top: 4rem;
    padding: 3rem 10rem 0rem;
    background-image: url(Imagenes/LouvreBg.jpg);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat; }
    body .Monalisa .Mona_cont {
      z-index: 2; }
      body .Monalisa .Mona_cont .Image_Mona {
        width: 40rem;
        height: 47.5rem;
        border-radius: 1rem; }
      body .Monalisa .Mona_cont p {
        text-align: center;
        font-size: 20px;
        color: ghostwhite;
        font-weight: 700; }
  body .Descripcion {
    background-color: rgba(25, 25, 25, 0.8);
    border-radius: 1rem;
    height: 47.5rem;
    position: relative;
    right: 15px; }
    body .Descripcion h1 {
      text-align: center;
      font-size: 5rem;
      font-weight: 900;
      margin-top: 3rem; }
    body .Descripcion p {
      padding: 2rem 3rem;
      font-size: 30px; }
    body .Descripcion img {
      position: relative;
      width: 70px;
      height: 70px;
      left: 450px;
      bottom: 10px; }
  body .Blog {
    height: fit-content;
    margin: 0rem 20rem;
    padding-top: 5rem;
    background-color: #191919; }
    body .Blog .Img_1 {
      float: left;
      height: fit-content; }
      body .Blog .Img_1 img {
        width: 40rem;
        height: 40rem;
        margin-right: 40px; }
      body .Blog .Img_1 p {
        font-size: 1.5rem;
        margin: 15px auto 0;
        padding-left: 5px;
        color: #7a7a7a;
        border-left: 1px solid goldenrod;
        width: fit-content; }
    body .Blog .Text_1 h1 {
      font-size: 4rem; }
    body .Blog .Text_1 p {
      font-size: 2rem;
      text-align: justify; }

@media screen and (max-width: 1440px) {
  .Monalisa {
    padding: 5% !important; }
    .Monalisa .Image_Mona {
      width: fit-content !important; }
    .Monalisa .Descripcion p {
      font-size: 25px !important; }
    .Monalisa .Descripcion img {
      left: 320px !important;
      bottom: 40px !important; }

  .Blog {
    margin: auto !important;
    width: 85% !important; }
    .Blog .Img_1 img {
      width: 35rem !important;
      height: 35rem !important; } }
@media screen and (max-width: 1024px) {
  .Monalisa .Mona_cont {
    width: 30rem !important; }
    .Monalisa .Mona_cont .Image_Mona {
      width: 30rem !important; }
  .Monalisa .Descripcion {
    width: 30rem !important; }
    .Monalisa .Descripcion h1 {
      font-size: 4rem !important;
      margin-bottom: 0 !important; }
    .Monalisa .Descripcion p {
      font-size: 20px !important;
      padding-top: 5px !important; }
    .Monalisa .Descripcion img {
      left: 200px !important;
      bottom: 30px !important; }

  .Blog {
    margin: auto !important;
    width: 85% !important; }
    .Blog .Img_1 img {
      width: 28rem !important;
      height: 28rem !important; }
    .Blog .Text_1 p {
      font-size: 25px !important; } }
@media screen and (max-width: 768px) {
  .Monalisa {
    padding-top: 45px !important;
    height: fit-content !important; }
    .Monalisa .Mona_cont {
      width: 20rem !important;
      height: 32rem !important; }
      .Monalisa .Mona_cont .Image_Mona {
        width: 20rem !important;
        height: 30rem !important; }
      .Monalisa .Mona_cont p {
        font-size: 15px !important; }
    .Monalisa .Descripcion {
      width: 30rem !important;
      height: 30rem !important; }
      .Monalisa .Descripcion h1 {
        font-size: 32px !important;
        margin-bottom: 0 !important; }
      .Monalisa .Descripcion p {
        font-size: 16px !important;
        padding: 5px 10px 0 25px !important; }
      .Monalisa .Descripcion img {
        width: 40px !important;
        height: 40px !important;
        left: 160px !important;
        bottom: 10px !important; }

  .Blog {
    margin: auto !important;
    width: 85% !important; }
    .Blog .Img_1 img {
      width: 20rem !important;
      height: 20rem !important; }
    .Blog .Img_1 p {
      font-size: 13px !important; }
    .Blog .Text_1 p {
      font-size: 20px !important; } }
@media screen and (max-width: 425px) {
  .barra_tareas {
    display: flex !important;
    justify-content: center !important; }
    .barra_tareas .Seleccion {
      display: none !important; }
    .barra_tareas .Logo_cont_der {
      display: none !important; }

  .Monalisa {
    display: block !important; }
    .Monalisa .Mona_cont {
      width: 100% !important;
      height: fit-content !important;
      text-align: center !important; }
      .Monalisa .Mona_cont .Image_Mona {
        width: 80% !important;
        height: 20rem !important; }
      .Monalisa .Mona_cont p {
        display: none; }
    .Monalisa .Descripcion {
      width: 100% !important;
      height: fit-content !important;
      position: unset !important; }
      .Monalisa .Descripcion h1 {
        margin-top: 0 !important; }
      .Monalisa .Descripcion img {
        left: 50% !important;
        bottom: -15px !important; }

  .Blog {
    margin: auto !important;
    width: 85% !important;
    padding-top: 50px !important; }
    .Blog .Img_1 {
      float: unset !important;
      width: fit-content !important; }
      .Blog .Img_1 img {
        width: 100% !important;
        height: 20rem !important;
        margin-right: 0 !important; }
      .Blog .Img_1 p {
        font-size: 13px !important; }
    .Blog .Text_1 p {
      font-size: 20px !important; } }

/*# sourceMappingURL=outputpintura.css.map */
